.container {
  position: sticky;
  top: 0;
  border-bottom: 1px solid #ddd;
  background-color: #FFF;
  z-index: 2;
  padding: 1.2em;
  display: flex;
  align-items: center;
}

.container h1 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 400;
}
